<div class="col-10 offset-md-4 offset-2 pt-5">
  <%= form_with(model: [ :admin, @category ], local: true) do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div><%= f.text_field :name, placeholder:'Name', class:'form-control col-md-4 col-8' %></div>
    <div><%= f.submit 'Save' %></div>
  <% end %>
</div>