<table class="container justify-content-center mb-5 mt-3">
  <tbody>
  <tr>
    <th>Name</th>
    <th>
      <%= link_to 'New category', new_admin_category_path, class:'btn btn-outline-info btn-sm' %>
    </th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= link_to 'Edit',    edit_admin_category_path(category), class:'btn btn-outline-dark btn-sm mr-1' %>
        <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } ,
                    class:'btn btn-outline-dark btn-sm'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
